h1 {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  letter-spacing: 9px;
  text-align: center;
  color: rgba(255,255,255,0.9);
}

#oaaat {
  background-color: #578D87;
  min-height: 100vh;
  padding: 110px 80px 40px 80px;
  font-family: "Segoe UI", sans-serif;
  font-size: 17px;
  color: rgba(255,255,255,0.9);
  letter-spacing: 0.8px;
  h1 {
    color: white;
  }
}

#oaaat-button {
  border: 2px solid rgba(255,255,255,0.9);
  color: rgba(255,255,255,0.9);
  opacity: 1;
  &:hover {
    color: rgba(255,255,255,0.6);
  }
}

.book-content {
  display: flex;
  width: 100%;
}

.book-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-description {
  margin-top: 40px;
  text-align: justify;
}

.book-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 40px 0px 20px;
}

.right-separator {
  width: calc(100% - 50px);
  margin: 32px;
  border: 1px solid rgba(255,255,255,0.9);
}

.reviews {
  display: flex;
  text-align: center;
}

.review-content {
  margin: 0px 30px 16px 30px;
}


.book-cover {
  margin: 35px 0px;
  width: 256px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

#twwg {
  background-color: #BFDCE6;
  min-height: calc(100vh - 60px);
  padding: 50px 80px 40px 80px;
  font-family: "Segoe UI", sans-serif;
  font-size: 17px;
  color: #272727;
  h1, {
    color: #272727;
  }
  .right-separator {
    border: 1px solid #272727;
    opacity: 0.8;
  }
}
