h1 {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  letter-spacing: 9px;
  text-align: center;
  color: rgba(255,255,255,0.9);
}

.oaaat {
  background-color: #578D87;
  min-height: 100vh;
  padding: 110px 80px 40px 80px;
  font-family: "Segoe UI", sans-serif;
  font-size: 17px;
  color: rgba(255,255,255,0.9);
  letter-spacing: 0.8px;
  h1 {
    color: white;
  }
}

.oaaat-content {
  display: flex;
  justify-content: center;
}

.oaaat-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oaaat-description {
  margin-top: 40px;
  width: 600px;
  text-align: justify;
}

.oaaat-right {
  width: 600px;
}

.right-separator {
  width: 520px;
  margin: 32px 40px;
  border: 1px solid rgba(255,255,255,0.9);
  flex-grow: 1;
}

.reviews-content {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.review-content {
  width: 280px;
}

.reviews-authors {
  display: flex;
  justify-content: space-around;
}

.review-author {
  margin-right: 16px;
}

.book-cover {
  margin: 35px 0px;
  width: 256px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.twwg {
  background-color: #BFDCE6;
  min-height: calc(100vh - 60px);
  padding: 80px;
  padding-top: 50px;
  color: white;
  h1 {
    color: #272727;
  }
}
