.home {
  padding-top: 134px;
  background-color: #FBFBFB;
  min-height: 100vh;
  color: #272727;
  letter-spacing: 1px;
}

.home-content {
  display: flex;
  justify-content: space-between;
}

#about-me {
  text-align: center;
  font-family: "PT Sans", sans-serif;
}

#about-content {
  text-align: justify;
  font-family: "Segoe UI", sans-serif;
  font-weight: lighter;
  font-size: 22px;
  margin: 32px;
}

.pic-div {
  display: flex;
  justify-content: center;
}

#pete-pic {
  margin: 28px 35px;
  border-radius: 1px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 400px;
}
