#media {
  padding: 48px 0px;
  background-color: #fcf7f8;
  h1 {
    color: #3a3a3a;
  }
}

.media-content {
  display: flex;
  justify-content: center;
  margin: 48px 0px 20px 0px;
}

.youtube-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
}

#youtube {
  width: calc(100% - 40px);
  // height: 472.8px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

#youtube-description {
  width: calc(100% - 50px);
  font-family: "Segoe UI", sans-serif;
  font-weight: lighter;
  font-size: 18px;
  text-align: justify;
  letter-spacing: 0.6px;
  margin: 20px 0px;
}

.twitter-container {
  display: flex;
  justify-content: center;
}

.twitter-timeline {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.customisable-highlight {
  font-size: 16px;
}


