<div class="navbar">
  <!-- Logo -->
  <a href="/" class="navbar-home"><p>Peter Fiennes</p></a>
  <!-- Right Navigation -->
  <div class="navbar-right d-none d-md-block">
    <a href="/books" class="navbar-item navbar-link">Books</a>
    <a href="/media" class="navbar-item navbar-link">Media</a>
    <a href="/contact" class="navbar-item navbar-link">Contact</a>
  </div>
  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-item d-block d-md-none">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <li><a href="/books">Books</a></li>
        <li><a href="/media">Media</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
