<div class="oaaat">
  <h1>OAK AND ASH AND THORN</h1>
  <div class="row">
    <div class="oaaat-content">
      <div class="col-xs-12 col-md-6 oaaat-left">
        <%= image_tag "oaaat", class: "book-cover" %>
        <%= link_to "Buy Now", "https://www.amazon.co.uk/Oak-Ash-Thorn-Ancient-Forests/dp/1786071665", class: "buy-button", target: :_blank %>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="oaaat-right">
          <p class="oaaat-description">The magic and mystery of the woods are embedded in culture, from ancient folklore to modern  literature. They offer us refuge: a place to play, a place to think. They are the generous providers of timber and energy. They let us dream of other ways of living. Yet we now face a future where taking a walk in the woods is consigned to the tales we tell our children.<br><br>Immersing himself in the beauty of woodland Britain, Peter Fiennes explores our long relationship with the woods and the sad and violent story of how so many have been lost. Just as we need them, our woods need us too. But who, if anyone, is looking out for them?</p>
          <hr class="right-separator">
          <div class="reviews-content">
            <p class="review-content">"A tender hymn to the trees<br>one man's walk in the woods can<br>inspire a generation"</p>
            <p class="review-content">"Extraordinary...<br>Set to become a classic<br>of the genre"</p>
          </div>
          <div class="reviews-authors">
            <p class="review-author"><em>Paul Evans</em></p>
            <p class="review-author"><em>Observer</em></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="twwg">
  <h1>TO WAR WITH GOD</h1>
  <div class="row">
    <div class="col-xs-12 col-md-6">

    </div>
  </div>
</div>
