<div class="home">
  <div class="container">
    <div class="row home-top-content">
      <div class="col-xs-12 col-md-6">
        <h2 id="about-me">About Me</h2>
        <p id="about-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class ="pic-div col-xs-12 col-sm-6">
        <%= image_tag "pete.jpg", id: "pete-pic" %>
      </div>
    </div>
    <div class="row home-bottom-content">
      <div class="col-xs-12 col-md-6">
        <h2>Works</h2>
        <p></p>
      </div>
      <div class="col-xs-12 col-md-6">
        <a class="twitter-timeline" data-width="500" data-height="600" data-theme="light" href="https://twitter.com/pfiennes?ref_src=twsrc%5Etfw">Tweets by pfiennes</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
</div>
