.banner {
  min-height: 100vh;
  background-size: cover;
}

.banner-content {
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-weight: bold;
    letter-spacing: 30px;
    font-size: 50px;
    margin: 30px 20px;
  }
  p {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    letter-spacing: 7px;
    margin: 25px 20px;
    text-align: center;
  }
}

.arrow-container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25px;
  font-size: 22px;
}

#arrow {
  width: 33px;
  cursor: pointer;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  40%, 60% {
    transform: translateY(-18px);
  }
}
