.buy-button {
  padding: 6px;
  width: 140px;
  background-color: transparent;
  border: 2px solid rgba(255,255,255,0.9);
  text-align: center;
  color: white;
  letter-spacing: 1px;
  &:hover {
    text-decoration: none;
    color: rgba(255,255,255,0.7);
  }
}
