.buy-button {
  padding: 6px;
  width: 140px;
  background-color: transparent;
  border: 1.8px solid #3a3a3a;
  text-align: center;
  color: #3a3a3a;
  opacity: 0.8;
  letter-spacing: 1px;
  &:hover {
    text-decoration: none;
    color: #3a3a3a;
    opacity: 0.5;
  }
}
