/* Main navbar */
.navbar {
  position: fixed;
  background: transparent;
  box-shadow: none;
  color: white;
  transition: all 0.3s ease;
  z-index: 1;
  height: 64px;
  width: 100vw;
  font-family: "PT Sans", sans-serif;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  #navbar-home {
    letter-spacing: 0.8px;
    font-size: 24px;
    height: 40px;
    color: white;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}

.fill {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1),0 1px 0 0 rgba(0,0,0,0.05);
  background: white;
  color: #3a3a3a;
  #navbar-home {
    color: #3a3a3a;
    &:hover {
      color: #3a3a3a;
    }
  }
}


/* Right section */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 24px;
}

/* Basic navbar item */
.navbar-item {
  cursor: pointer;
  padding: 6.5px 15px;
  margin: 0px 22px;
}

/* Navbar link */
.navbar-link {
  color: #3a3a3a;
  font-size: 17px;
  letter-spacing: 1.5px;
}

#oaaat-link:hover, #media-link:hover, #about-link:hover, #contact-link:hover {
  color: #da552f;
}

.navbar-link.active {
  border-bottom: 2px solid #3a3a3a;
}

.navbar-link:hover {
  color: #da552f;
  text-decoration: none;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
  width: 10px;
}

.dropdown-toggle, .dropdown-item {
  cursor: pointer;
}

.navbar-dropdown-menu {
  letter-spacing: 1px;
  margin-top: 15px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
  border-color: #E6E6E6;
}


.navbar-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #757880 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}

.navbar-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}

.navbar-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
